<div class="box header-box">
  <div class="content">
      <b><%= @paste.title %></b>
      <br>
      <span class="date">Created at <%= simple_format(@paste.created_at) %>,</span>
      <span class="date">Updated at <%= simple_format(@paste.updated_at) %></span>
      <br>
      <!-- <a class="action-link" href="/raw/<%= @paste.id %>">View Raw</a> -->
      <a class="action-link" href="/<%= @paste.id %>">View</a>
      |
      <a class="action-link" href="/edit/<%= @paste.id %>">Update</a>
      <div class="pull-right">
      <a class="action-link" href="" onclick="deletePaste(event, <%= @paste.id %>)">Delete</a>

      </div>
  </div>
</div>
<br>
  <div class="box green-bg monospaced markdown">
  <div class="content">
    <%= @paste.body %>
  </div>
</div>